{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tajamar Invoice{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'libs/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="{% static 'libs/htmx/htmx.min.js' %}"></script>
    <script src="{% static 'libs/alpine.js/cdn.min.js' %}"></script>
    <!-- Live Server | not for production -->
    <script>
        const ws = new WebSocket('ws://localhost:6789');
        ws.onmessage = function(event) {
            if (event.data === 'reload') {
                location.reload();
            }
        };
    </script>
</body>
</html>
